### Experiment with ML based financial forecasting

In [7]:
# do LSTM time series prediction
# import libraries
import pandas as pd
import numpy as np
import os
import pickle

In [2]:
# Load in some data to test

# change into Dataset't directory
os.chdir("../../dataset")

In [3]:
# Load previously saved pickles

with open("3_1_etfs.pckl", "rb") as f:
    %time ETFs = pickle.load(f)

CPU times: user 11 ms, sys: 6.31 ms, total: 17.3 ms
Wall time: 17.1 ms

In [4]:
with open("3_1_stock.pckl", "rb") as f:
    %time Stocks = pickle.load(f)

CPU times: user 737 ms, sys: 262 ms, total: 999 ms
Wall time: 999 ms

In [5]:
with open("3_1_avg_stocks.pckl", "rb") as f:
    %time avg_Stocks = pickle.load(f)

CPU times: user 429 µs, sys: 0 ns, total: 429 µs
Wall time: 369 µs

In [6]:
with open("3_1_avg_etfs.pckl", "rb") as f:
    %time avg_ETFs = pickle.load(f)

CPU times: user 314 µs, sys: 136 µs, total: 450 µs
Wall time: 410 µs

In [9]:
avg_Stocks

,Symbol,First Date,First Adj Close,Highest Adj Close Date,Highest Adj Close,Lowest Adj Close Date,Lowest Adj Close,Current Adj Close Date,Current Adj Close,ETF,Highest pct_change,Lowest pct_change,Current pct_change
1460,ZEUS,2000-01-03,4.378227,2008-06-30,69.836151,2000-10-25,1.705803,2023-09-01,55.580002,False,14.950784,-0.610390,11.694638
276,RGR,2000-01-03,4.076435,2021-06-30,87.934952,2008-11-20,3.048036,2023-09-01,51.779999,False,20.571535,-0.252279,11.702276
1248,BWA,2000-01-03,3.249329,2014-07-09,51.952221,2000-02-24,2.537365,2023-09-01,41.290001,False,14.988602,-0.219111,11.707241
1688,ECL,2000-01-03,14.446023,2021-12-29,235.639999,2000-02-29,10.828531,2023-09-01,182.699997,False,15.311756,-0.250414,11.647079
985,SHYF,2000-01-03,1.290543,2021-11-17,54.250000,2000-12-28,0.418953,2023-09-01,16.320000,False,41.036567,-0.675367,11.645839
43,PZZA,2000-01-03,6.033363,2021-11-04,140.009995,2000-12-19,4.426346,2023-09-01,77.150002,False,22.205963,-0.266355,11.787230
872,CASS,2000-01-03,3.042775,2018-06-22,57.866196,2000-10-25,2.700127,2023-09-01,38.290001,False,18.017575,-0.112610,11.583909

In [10]:
avg_ETFs

,Symbol,First Date,First Adj Close,Highest Adj Close Date,Highest Adj Close,Lowest Adj Close Date,Lowest Adj Close,Current Adj Close Date,Current Adj Close,ETF,Highest pct_change,Lowest pct_change,Current pct_change
14,EWL,2000-01-03,11.442809,2021-12-29,53.020000,2003-03-12,6.658945,2023-09-01,45.930000,True,3.633478,-0.418067,3.013875
7,XLK,2000-01-03,42.751957,2023-07-18,180.259995,2002-10-09,8.930201,2023-09-01,176.199997,True,3.216415,-0.791116,3.121449
2,EWC,2000-01-03,8.789878,2022-03-30,40.660000,2002-10-09,5.766855,2023-09-01,34.930000,True,3.625775,-0.343921,2.973889
26,XLF,2000-01-03,9.248327,2022-01-12,41.419998,2009-03-06,3.068984,2023-09-01,34.689999,True,3.478648,-0.668158,2.750948
24,EWO,2000-01-03,5.655271,2007-06-04,28.348576,2000-10-18,4.365574,2023-09-01,20.270000,True,4.012771,-0.228052,2.584267
25,QQQ,2000-01-03,82.267441,2021-11-19,403.989990,2002-10-09,17.417257,2023-09-01,377.589996,True,3.910691,-0.788285,3.589787
21,SPY,2000-01-03,97.506668,2022-01-03,477.709991,2009-03-09,53.155308,2023-09-01,451.190002,True,3.899255,-0.454855,3.627273